/* Profile SCSS  */

$green: #649b1d;

.user-account {

	.user-profile-header {
		border: none;
		font-size: 24px;
		font-weight: 300;
		margin-top: 20px;
	}

	.user-portrait {
			margin-left: 0;
			text-align: center;
			display: inline-block;

			  .user-image-container {
				margin-bottom: 20px;
			}
	}
}


.user-subscription {

	.credit-card-section {
		margin-top: 30px;

			.subsection-label {
			margin: 20px 0;
			font-size: 24px;
			color: #FFF;
			font-weight: 300;
			text-transform: capitalize;
			}

			.table.credit-card-list {

				td {
					border-top-color: rgba(#FFF, .6);
					font-weight: 400;
					font-size: 16px;

						i {
							color: $green;
						}
					}
			}
	}
}


.user-profile-tabs-container {
	margin: 100px auto 20px; // bloc's margin-top: 42px
	text-align: center;

		.pagination.profile-pagination {
			font-weight: 600;
			border: $green 2px solid;
			border-radius: 8px;

			& > li > a {
				border: none;
				background: transparent;
				color: #FFF;
				letter-spacing: 1px;
			}

			& > .active > a {
				background: $green;
				border-radius: 4px;
			}
		}
}

/* Styles below not used anywhere */

.default-form {
	$default-input-color: #0A032B;

	label {
		font-weight: 300;
		font-size: 16px;
	}
	input {
		background: rgba(#FFF, .6);
		border-radius: 0;
		border: none;
		font-weight: 300;
		font-size: 16px;
		padding: 10px 12px;
	}
}

.no-left-gutter {
	padding-left: 0px;
}

.no-right gutter {
	padding-right: 0px;
}