html {
	height: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: #F3FFE2;
	min-height: 100%;
	line-height: 1.4em;
	background: -webkit-linear-gradient(top, rgb(25, 100, 176) 50%, rgb(72, 236, 230) 100%);
	background: -moz-linear-gradient(top, rgb(25, 100, 176) 50%, rgb(72, 236, 230) 100%);
	background: -o-linear-gradient(top, rgb(25, 100, 176) 50%, rgb(72, 236, 230) 100%);
	background: linear-gradient(top, rgb(25, 100, 176) 50%, rgb(72, 236, 230) 100%);
}

body.landing {
	margin-bottom: 0;
	background: #4192D9;
}

.navbar {
	margin-bottom: 0;
}

.player-header-nav{
	width: 100%;
	background: rgba(0, 48, 90, .9);
	height: 90px;
	padding: 5px 0;
}

.clear {
	clear: both;
}


/* Hero Styles */

.hero-content {
	width: 100%;
	background: url(../images/band_hero.jpg) no-repeat 50% 10%;
	background-size: cover;
	padding: 80px 0;
	height: 400px;
}

.hero-content h1 {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	font-size: 4.8em;
	font-weight: 700;
	color: #EB7F00;
	margin-bottom: -12px;
}

.hero-content h3 {
	font-size: 1.2em;
	width: 320px;
	line-height: 1.5em;
}

/*.container {
	width: 1024px;
	margin: 0 auto;
}*/

/* Album view styles*/

.album-container {
	margin-bottom: 230px; /* makes container scrollable from behind footer */
}

.album-header-container {
	margin-top: 55px;
	margin-bottom: 40px;
}

.album-header-information {
	margin-top: 45px;
	margin-bottom: 20px;
}

.album-header-information h3, h4, h5 {
	font-family: 'Roboto Sans', Helvetica, sans-serif;
	line-height: 1.4em;
}

.album-header-information h3 {
	font-size: 4em;
	font-weight: 300;
}

.album-header-information h4 {
	font-size: 2em;
	font-weight: 300;
}

.album-header-infortmation h5 {
	font-size: 1.8em;
	font-weight: 300;
}

.table.album-song-listing {
	font-weight: 300;
}

.table.album-song-listing td {
	padding: 20px;
	border-top: 1px solid rgba(255, 255, 255, .4);
}


/* Selling points Styles */

.selling-points {
	padding: 80px 0;
	background: #4192D9;
	margin-bottom: 230px;
}

.selling-points .point {
	width: 32%;
	float: left;
	padding: 0 0.5%;
	text-align: center;
}

.selling-points .point img {
	padding-bottom: 20px;
}

.selling-points .point h5 {
	font-size: 1.6em;
	font-weight: bold;
	color: #EB7F00;
	margin-bottom: 10px;
	text-align: center;
}

.selling-points .point p {
	font-size: 1em;
}


 /*Footer*/

footer {
	width: 100%;
	height: 230px;
	background: #00305A;
	padding: 20px 0;
}

footer section {
	float: left;
	padding-right: 40px;
}

footer h3 {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: 600;
	color: #EB7F00;
	margin-bottom: 10px;
}

footer p {
	font-size: 0.8em;
	font-weight: 300;
}

footer section ul li a {
	font-size: 0.8em;
	text-decoration: none;
	color: #EB7F00;
}

footer section ul li a:hover {
	color: #EB7F00;
	border-bottom: 1px solid #EB7F00;
}

footer .social_links ul {
	list-style: none;
}

footer .social_links ul li {
	float: left;
	padding: 0 10px 10px 0;
}

footer .social_links ul li a:hover {
	border: none;
}